{{>header}}
<div class="col-md-8 order-md-1 container">
    <h4 class="mb-3">Inscribirse en curso en curso</h4>
    <form action="/inscribirse" class="needs-validation" method="post">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Cedula</label>
                <input type="number" name="cedula" value="{{cedula}}"class="form-control" id="firstName" placeholder=""  required="" readonly>
                <div class="invalid-feedback">
                    Se requiere este campo
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Nombre</label>
                <input type="text" name="nombre" value="{{nombre}}"class="form-control" id="lastName" placeholder=""  required="" readonly>
                <div class="invalid-feedback">
                    Se requiere este campo
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3 mb-3">
                <label for="zip">correo</label>
                <input type="email" name="correo" value="{{correo}}"class="form-control" id="zip" placeholder="" required="" readonly>
                <div class="invalid-feedback">
                    Se requiere este campo
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="zip">telefono</label>
                <input type="number" name="telefono"value="{{telefono}}" class="form-control" id="zip" placeholder="" required="" readonly>
                <div class="invalid-feedback">
                    Se requiere este campo
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3">
                <label for="country">CURSO</label>
                    {{{opciones listado}}}
            </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">REGISTRAR</button>
    </form>
</div>
{{>footer}}